html{
	font-size: 16px;
	font-family: sans-serif;
}

/**Header Section**/
header{
	height: 4rem;
	display: flex;
	flex-direction: column;
	margin: auto 0;

}

header p{
	font-family: 'Poppins', sans-serif;
}

.header-left{
	display: flex;
	height: 2rem;
	padding-left: 1.5rem;
	align-content: center;
}

.header-left img{
	height: 2rem;
	padding-top: 1.5rem;
}

.header-left p{
	padding-top: 1.85rem
}

.header-right{
	display: flex;
	justify-content: flex-end;
	padding-right: 1.5rem;
}

.header-items{
	display: inline;
	padding-left: 1rem;
}

/**Banner Section**/
.banner{
	width: 100%;
	display: flex;
	background-color: rgb(203 204 222);
}

.banner-text{
	width: 30%;
	padding: 1.5rem;
	margin: auto 0;
}

.banner img{
	width: 60%;
	padding: 2rem 1.5rem;
}

.banner-text h2{
	font-size: 2.5rem;
	font-weight: bold;
	padding-bottom: 1.5rem;
	color: rgb(58 59 64);
}

.banner-text p{
	font-size: 1.25rem;
	font-weight: 500;
	padding-bottom: 1.5rem;
	color: rgb(58 59 64);
}

#button{
	padding-top: 1rem;
	background-color: rgb(58 59 64);
	color: white;
	text-align: center;
}

/**Information Section**/
.info{
	display: flex;
}

.info-left{
	width: 60%;
}

.info-left img{
	width: 100%;
	padding: 2rem 1.5rem;
}

.info-left-text{
	width: 100%;
	padding-left: 1.5rem;
}

.info-left-text h3{
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 1.5rem;
	color: rgb(58 59 64);
}

.info-left-text blockquote{
	line-height: 1.5rem;
	color: rgb(84 84 92);
}

.info-left-text p{
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 0.75rem;
	color: rgb(58 59 64);
}

.info-right{
	display: flex;
}

.info-right img{
	height: auto;
	width: 30%;
	padding: 2rem;
	padding-left: 2.5rem;
}

.info-right p{
	width: 65%;
	padding: 0.5rem;
	color: rgb(84 84 92);
}

.info-right h4{
	padding-left: 0.5rem;
	font-size: 1.75rem;
	color: rgb(58 59 64);
}

.info-right-section{
	margin: auto 0;
}

.right{
	width: 40%;
}

#blue{
	color: blue;
}

#guest{
	background-color: rgb(203 204 222);
	width: 95%;
	float: right;
}

#guest img{
	width: 48%;
	padding-left: 1.25rem;
	padding: 1rem;
}


